<font size="3" face="arial" color="black">
    {% if pageList | length > 9 %}
        {% if not pageList.first = 1}
            <a href="/search/{{mode}}/{{keyword}}/Page{{pageList.first - 1}}">
                <<
            </a>
        {% endif %}
    &nbsp;
    {% endif %}
    {% for i in pageList %}
        {% if i = pageSeq %}
            <a style="color:#0094ff;" href="/search/{{mode}}/{{keyword}}/Page{{i}}">
                {{i}}
            </a>
        {% else %}
            <a href="/search/{{mode}}/{{keyword}}/Page{{i}}">
                {{i}}
            </a>
        {% endif %}
        &nbsp;
    {%endfor%}
    {% if pageList | length > 9 %}
        {% if not pageList.last = pageCnt}
            <a href="/search/{{mode}}/{{keyword}}/Page{{pageList.last + 1}}">
                >>
            </a>
        {% endif %}
    {% endif %}
   
</font>
